/* ;Id$ */

  .model-submit-button {
    font-size: 1.2em;
    color: black !important;
    background: silver;
    border: 1px solid #C4C4C4;
    border-bottom-color: #707070;
    padding: 0 9px !important;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-text-shadow: white 0 1px 0;
    -webkit-text-shadow: white 0 1px 0;
    text-shadow: white 0 1px 0;
    margin: 15px 5px 15px 0;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    text-justify: none;
  }

  .views-field-field-model-image-fid
  {
    height: 50px;
  }

  .model-region1
  {
    padding-right: 30px;
    text-align: justify;
    text-justify: auto;
  }

  .model-region2
  {
  }

  .model-region3
  {
    padding-right: 30px;
    text-align: justify;
    text-justify: auto;
  }

  .model-region4
  {
  }

  div.model-section-title {
    font-size: 1.6em;
    font-height: 1.8em;
    font-weight: bold;
    margin: 20px 0;
  }

  div.model-block {
    clear: both;
    margin-bottom: 15px;
  }

  .model-block-title {
    font-weight: bold;
  }

  .model-updated-date {
    margin-bottom: 10px;
  }

  .model-body {
    margin-top: 15px;
  }

  div.model-tags-block {
    margin: 20px 0px 50px 0px;
  }

  div.model-tags
  {
    padding: 0;
  }

  span.tag {
    text-align: left;
  }


  div.model-citation-block {
    text-align: left;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    border-image: initial;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
  }

  div.model-citation-title {
    font-weight: bold;
  }

  div.model-video, div.model-image {
    margin-top: 20px;
  }

  div.modelstatus
  {
    background: #CADCA7;
  }

  div.versions-list
  {
  }

  div.versions-list table
  {
    margin: 0 0 20px 0;
  }

  div.model-authors {
    font-size: 1.33em;
    font-height: 1.6em;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  div.model-author h3
  {
    margin-top: 0;
    margin-bottom: 0;
  }

  div.model-body {
  }

  .model-pane-1 
  { 
    float: left; 
    width: 50%; 
  }  
 
  .model-pane-2 
  { 
    float: right; 
    width: 50%; 
  }  

  .addmodel
  {
    font-size: 1.2em;
    float: right;
    margin-bottom: 10px;
  }

  .over
  {
    background-color: #969696;
    color: #F6FF97;
  }

  tr.modellibrary.even, tr.modellibrary.odd /* Some tables have rows marked even or odd. */ 
  { 
    background-color: #FFF; 
    border-bottom: 0; 
  } 
 
  tr.modellibrary.r1 
  { 
  } 
 
  tr.modellibrary.r2 
  { 
    border-bottom: 1px solid #CCC; 
  } 
 
  tr.modellibrary.r1 td 
  { 
    padding: 10px 0 5px 0; 
  } 
 
  tr.modellibrary.r2 td 
  { 
    padding: 5px 0 10px 0; 
  } 

  tr.modellibrary.r2 td.modellibrary.views-field-field-model-teaser-value
  {
    padding-right: 10px;
    vertical-align: top;
  }

  tr.modellibrary.r2 td.views-field-created
  {
    padding: 5px 0 0 5px;
    vertical-align: top;
  }

  tr.modellibrary td.views-field-name
  {
    width: 100px;
    border-left: 1px dotted #EEE;
  }

  tr.modellibrary td.views-field-created
  {
    width: 100px;
  }

  th.modellibrary.views-field
  {
    border-bottom: 3px solid #CCC;
  }

  th.active img, div.active img
  {
    padding: 0 0 0 5px;
  }

  td.modellibrary.active
  {
    background-color: #FFF;
  }

  td.modellibrary.views-field-title
  {
    font-size: 1.2em;
    line-height: 1.4em;
  }

  td.modellibrary.views-field-title a
  {
    color: #342F65;
    font-weight: bold;
  }

  td.modellibrary.views-field-title a:hover
  {
    text-decoration: underline;
  }

  tr.modellibrary.r2 td.modellibrary.views-field-field-model-teaser-value
  {
    padding-right: 10px;
    vertical-align: top;
  }

  td.modellibrary.views-field-statusid img
  {
    margin: 0 10px;
  }

  div.modellibrary.views-field-name
  {
    padding: 0 0 5px 10px;
  }

  div.modellibrary.views-field-created
  {
    padding: 0 0 0 10px;
  }

  td.modellibrary.views-field-created
  {
    border-left: 1px dotted #EEE;
  }

  a.tag
  {
    display: block;
    float: left;
    padding: 3px 4px;
    margin: 10px 2px 3px 2px;
    font: 100% Verdana, Arial, sans-serif;
    text-transform: lowercase;
    background: #E6E6E6;
    color: #342F65;
    text-decoration:none;
    text-align:center
  }
 
  a.tag:link
  {
    text-decoration: none;
    font-size: 0.83em;
  }
 
  a.tag:hover
  {
    text-decoration: none;
    background: #666;
    color: #FFF;
  }
 
  a.model-button 
  { 
    border: 1px solid gray;
    display:block; 
    float: right; 
    width:9em; 
    padding:5px 0; 
    font: bold 100% Verdana,Arial,sans-serif; 
    background: #CADCA7; 
    color: #505050; 
    text-transform:uppercase; 
    text-decoration:none; 
    text-align:center;
    border-radius: 4px;
    border-image: initial;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    cursor: pointer;
  } 
 
  a.model-button:hover 
  { 
    background: #7F9E56; 
    color: #F6FF97; 
  } 

  ul.model-button, ul.model-button li 
  { 
    margin:0; 
    padding:0; 
    list-style-type:none 
  } 
 
  ul.model-button li 
  { 
    float:left; 
    width: 9em; 
    font-size: .8em; 
    margin-right: 5px 
  } 
 
  ul.model-button a 
  { 
    display:block; 
    width:9em; 
    padding:5px 0; 
    font: bold 100% Verdana,Arial,sans-serif; 
    text-transform:uppercase; 
    background: #7F9E56; 
    color: #F6FF97; 
    text-decoration:none; 
    text-align:center 
  } 
 
  ul.model-button a:hover 
  { 
    background: #CADCA7; 
    color:#718B4B 
  } 

  table#striped tr.even /* Some tables have rows marked even or odd. */
  {
    background-color: #E6E6E6; /* Drupal core uses a #eee background */
  }

  table#striped tr.odd
  {
    background-color: #FFFFFF; /* Drupal core uses a #eee background */
  }

  table#striped tr.highlight /* To allow row highlighting for mouseovers */
  {
    background-color: #DDD; /* Drupal core uses a #eee background */
    cursor: pointer;
  }

  div.model-dl
  {
    border: 1px solid;
  }

  div.model-dl h2
  {
    margin-top: 0;
  }

  div.model-dl span.label
  {
    margin-left: 10px;
    font-weight: bold;
  }

  div.model-dl span.content
  {
    margin-left: 5px;
  }

  div.model-files div.filefield-file
  {
    display: inline;
  }

  div.model-files span.label
  {
    margin-left: 10px;
    font-weight: bold;
  }

  div.model-files span.content
  {
    margin-left: 5px;
  }

  table.model-vers td {
    vertical-align: middle;
  }

  table.model-vers td.views-field-field-modelversion-number-value {
    padding-left: 20px;
  }

  table.model-vers td.views-field-body {
    padding-left: 10px;
  }
