/* ;Id$ */

  .views-field-field-model-image-fid
  {
    height: 50px;
  }

  .model-region1
  {
    float: left;
  }

  .model-region2
  {
    float: right;
  }

  .model-region3
  {
    float: left;
  }

  .model-region4
  {
    float: right;
  }

  .model-tags
  {
    float: left;
    padding: 0;
  }

  div.modelstatus
  {
    background: #CADCA7;
  }

  div.versions-list
  {
    background: #CADCA7;
  }

  div.versions-list table
  {
    margin: 0;
  }

  div.model-author h3
  {
    margin-top: 0;
    margin-bottom: 0;
  }

  .model-pane-1 
  { 
    float: left; 
    width: 50%; 
  }  
 
  .model-pane-2 
  { 
    float: right; 
    width: 50%; 
  }  

  .addmodel
  {
    font-size: 1.2em;
    float: right;
    margin-bottom: 10px;
  }

  .over
  {
    background-color: #969696;
    color: #F6FF97;
  }

  tr.modellibrary.even, tr.modellibrary.odd /* Some tables have rows marked even or odd. */ 
  { 
    background-color: #FFF; 
    border-bottom: 0; 
  } 
 
  tr.modellibrary.r1 
  { 
  } 
 
  tr.modellibrary.r2 
  { 
    border-bottom: 1px solid #CCC; 
  } 
 
  tr.modellibrary.r1 td 
  { 
    padding: 10px 0 5px 0; 
  } 
 
  tr.modellibrary.r2 td 
  { 
    padding: 5px 0 10px 0; 
  } 

  tr.modellibrary.r2 td.modellibrary.views-field-field-model-teaser-value
  {
    padding-right: 10px;
    vertical-align: top;
  }

  tr.modellibrary.r2 td.views-field-created
  {
    padding: 5px 0 0 5px;
    vertical-align: top;
  }

  tr.modellibrary td.views-field-name
  {
    width: 100px;
    border-left: 1px dotted #EEE;
  }

  tr.modellibrary td.views-field-created
  {
    width: 100px;
  }

  th.modellibrary.views-field
  {
    border-bottom: 3px solid #CCC;
  }

  th.active img, div.active img
  {
    padding: 0 0 0 5px;
  }

  td.modellibrary.active
  {
    background-color: #FFF;
  }

  td.modellibrary.views-field-title
  {
    font-size: 1.2em;
    line-height: 1.4em;
  }

  td.modellibrary.views-field-title a
  {
    color: #336633;
    font-weight: bold;
  }

  td.modellibrary.views-field-title a:hover
  {
    text-decoration: underline;
  }

  tr.modellibrary.r2 td.modellibrary.views-field-field-model-teaser-value
  {
    padding-right: 10px;
    vertical-align: top;
  }

  div.modellibrary.views-field-name
  {
    padding: 0 0 5px 10px;
  }

  div.modellibrary.views-field-created
  {
    padding: 0 0 0 10px;
  }

  td.modellibrary.views-field-created
  {
    border-left: 1px dotted #EEE;
  }

  a.tag
  {
    display: block;
    float: left;
    padding: 3px 4px;
    margin: 10px 2px 3px 2px;
    font: 100% Verdana, Arial, sans-serif;
    text-transform: lowercase;
    background: #E6E6E6;
    color: #342F65;
    text-decoration:none;
    text-align:center
  }
 
  a.tag:link
  {
    text-decoration: none;
    font-size: 0.83em;
  }
 
  a.tag:hover
  {
    text-decoration: none;
    background: #666;
    color: #FFF;
  }
 
  a.button 
  { 
    display:block; 
    float: right; 
    width:9em; 
    padding:5px 0; 
    font: bold 100% Verdana,Arial,sans-serif; 
    text-transform:uppercase; 
    background: #7F9E56; 
    color: #F6FF97; 
    text-decoration:none; 
    text-align:center 
  } 
 
  a.button:hover 
  { 
    background: #CADCA7; 
    color:#718B4B 
  } 

  ul.button, ul.button li 
  { 
    margin:0; 
    padding:0; 
    list-style-type:none 
  } 
 
  ul.button li 
  { 
    float:left; 
    width: 9em; 
    font-size: .8em; 
    margin-right: 5px 
  } 
 
  ul.button a 
  { 
    display:block; 
    width:9em; 
    padding:5px 0; 
    font: bold 100% Verdana,Arial,sans-serif; 
    text-transform:uppercase; 
    background: #7F9E56; 
    color: #F6FF97; 
    text-decoration:none; 
    text-align:center 
  } 
 
  ul.button a:hover 
  { 
    background: #CADCA7; 
    color:#718B4B 
  } 

  table#striped tr.even /* Some tables have rows marked even or odd. */
  {
    background-color: #E6E6E6; /* Drupal core uses a #eee background */
  }

  table#striped tr.odd
  {
    background-color: #CADCA7; /* Drupal core uses a #eee background */
  }

  table#striped tr.highlight /* To allow row highlighting for mouseovers */
  {
    background-color: #FFF; /* Drupal core uses a #eee background */
    cursor: pointer;
  }

